/*------------------------------------------------------------------
[Stylesheet]
Color Palette - Red

background_solid    { background: #c62828; }
button              { background: #F44336; }
button_hover        { background: #ff4538; }
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #F44336;
}

.btn:hover,
.btn-large:hover {
	background-color: #ff4538;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
textarea:focus {
	border-bottom: 1px solid #F44336;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
    -moz-box-shadow: 0 1px 0 0 #F44336;
    box-shadow: 0 1px 0 0 #F44336; 
}

.hero_fullscreen.background_solid {
	background-color: #c62828;
}

a {
	color:#F44336
}