/*------------------------------------------------------------------
[Stylesheet]
Color Palette - Gray

background_solid    { background: #424242; }
button              { background: #9e9e9e; }
button_hover        { background: #ababab; }
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #9e9e9e;
}

.btn:hover,
.btn-large:hover {
	background-color: #ababab;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
textarea:focus {
	border-bottom: 1px solid #9e9e9e;
    -webkit-box-shadow: 0 1px 0 0 #9e9e9e;
    -moz-box-shadow: 0 1px 0 0 #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e; 
}

.hero_fullscreen.background_solid {
	background-color: #424242;
}

a {
	color:#9e9e9e
}