/*------------------------------------------------------------------
[Stylesheet]
Color Palette - Light Green

background_solid    { background: #558b2f; }
button              { background: #8bc34a; }
button_hover        { background: #93cf4e; }
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #8bc34a;
}

.btn:hover,
.btn-large:hover {
	background-color: #93cf4e;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
textarea:focus {
	border-bottom: 1px solid #8bc34a;
    -webkit-box-shadow: 0 1px 0 0 #8bc34a;
    -moz-box-shadow: 0 1px 0 0 #8bc34a;
    box-shadow: 0 1px 0 0 #8bc34a; 
}

.hero_fullscreen.background_solid {
	background-color: #558b2f;
}

a {
	color:#8bc34a
}